[package]
name = "entity"
version = "0.1.0"
edition = "2024"
publish = false

[dependencies]
sea-orm = { version = "1.1.19", features = ["sqlx-sqlite", "runtime-tokio-rustls", "macros", "with-json", "with-chrono", "with-uuid"] }
serde = { version = "1.0.228", features = ["derive"] }
